
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F2F0EA;
}

nav {
  background-color: #A8D5E3;
  padding: 60px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45rem; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0;    
  padding: 0;  
}


nav ul li a {
  font-family: Andale Mono, monospace;
  color: #000000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  padding: 15px 23px;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.3s;
  
}


nav ul li a:hover {
 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  

h1 {
  font-size:2.3rem;
  margin: 0;
}