 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
  background: #fff;
    color: #333;
}
header{
  background: linear-gradient(to right, #2f4f60, #547a8c);
    color: white;
    padding: 50px;
    text-align: left;
}

header h1 {
    font-size: 28px;
}

header span {
    font-size: 16px;
    font-weight: normal;
}
.container{
  display: flex;
}
.menu {
    width: 20%;
    background: #e5eef2;
    padding: 30px 20px;
    min-height: 100vh;
}
.menu ul {
    list-style: none;
}
.menu li {
    margin: 20px 0;
}
.menu a {
    text-decoration: none;
    color: #497080;
    font-size: 20px;
}
.conteudo {
  width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.sobre, .programacao, .atividades, .inscricao, .organizacao {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
}
.sobre button{
    margin-top: 10px;
    padding: 5px 10px;
    background: #ccc;
    border: none;
    cursor: pointer;
}
.programacao table {
    width: 100%;
    border-collapse: collapse;
}
.programacao td {
     border: 1px solid #ccc;
    padding: 5px;
}
.inscricao form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inscricao input, .inscricao button {
    padding: 8px;
    border: 1px solid #aaa;
}
.inscricao button {
    background: #333;
    color: #fff;
    cursor: pointer;
}
.palestrantes {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.palestrante {
   text-align: center;
}
.palestrante img {
    width: 100%;
    border-radius: 5px;
}
footer {
    background: #2f4f60;
    color: white;
    text-align: center;
    padding: 80px;
}
